<div class="col-md-7 offset-md-2">
  <h2 *ngIf="isCreate">Create customerForm</h2>
  <h3 *ngIf="!isCreate">Update customerForm</h3>
  <hr />
  <form [formGroup]="customerForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="form-group">
      <label for="firstName"> Firstname</label>
      <input type="text" class="form-control" id="firstName" name="firstName" formControlName="firstName" />
    </div>
    <small *ngIf="customerForm.controls['firstName'].dirty && customerForm.hasError('required', 'firstName')"
      class="text-danger">
      Firstname is required
    </small>
    <br />

    <div class="form-group">
      <label for="lastName"> Lastname</label>
      <input type="text" class="form-control" id="lastName" name="lastName" formControlName="lastName" />
    </div>
    <small *ngIf="customerForm.controls['lastName'].dirty && customerForm.hasError('required', 'lastName')"
      class="text-danger">
      Lastname is required
    </small>
    <br />

    <div class="form-group">
      <label for="dateOfBirth"> Date of birth</label>
      <input type="date" class="form-control" id="dateOfBirth" name="dateOfBirth" formControlName="dateOfBirth" />
    </div>
    <small *ngIf="customerForm.controls['dateOfBirth'].dirty && customerForm.hasError('required', 'dateOfBirth')"
      class="text-danger">
      Date of birth is required
    </small>
    <br />

    <div class="form-group">
      <label for="mobile"> Mobile</label>
      <input type="text" class="form-control" id="mobile" name="mobile" formControlName="mobile" />
    </div>
    <small *ngIf="customerForm.controls['mobile'].dirty && customerForm.hasError('required', 'mobile')"
      class="text-danger">
      Mobile no is required
    </small>
    <br />

    <div class="form-group">
      <label for="address1"> Address 1</label>
      <textarea class="form-control" id="address1" cols="20" rows="5" name="address1"
        formControlName="address1"></textarea>
    </div>
    <small *ngIf="customerForm.controls['address1'].dirty && customerForm.hasError('required', 'address1')"
      class="text-danger">
      Address 1 is required
    </small>
    <br />

    <div class="form-group">
      <label for="address2"> Address 2</label>
      <textarea class="form-control" id="address2" cols="20" rows="5" name="address2"
        formControlName="address2"></textarea>
    </div>
    <small *ngIf="customerForm.controls['address2'].dirty && customerForm.hasError('required', 'address2')"
      class="text-danger">
      Address 2 is required
    </small>
    <br />

    <div class="form-group">
      <label for="age"> Age</label>
      <input type="number" class="form-control" id="age" min="10" max="120" name="age" formControlName="age" />
    </div>
    <small *ngIf="customerForm.controls['age'].dirty && customerForm.hasError('required', 'age')" class="text-danger">
      Age is required
    </small>
    <br />

    <div class="form-group">
      Gender
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="gender" id="male" value="Male" formControlName="gender" />
        <label class="form-check-label" for="male">Male</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="gender" id="female" value="Female"
          formControlName="gender" />
        <label class="form-check-label" for="female">Female</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="gender" id="others" value="Others"
          formControlName="gender" />
        <label class="form-check-label" for="others">Others</label>
      </div>
    </div>
    <small *ngIf="customerForm.controls['gender'].dirty && customerForm.hasError('required', 'gender')"
      class="text-danger">
      Gender is required
    </small>
    <br />

    <div class="form-group">
      <label for="email"> Email</label>
      <input type="email" class="form-control" id="email" formControlName="email" name="email" />
    </div>
    <small *ngIf="customerForm.controls['email'].dirty && customerForm.hasError('required', 'email')"
      class="text-danger">
      Email is required
    </small>
    <br />
    <button type="submit" class="btn btn-success">Submit</button>&nbsp;&nbsp;
    <button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>
  </form>
  <br />
  <a routerLink="/customerForms">Back to customerForm List</a>
</div>
