<h2 class="text-center">Customer List</h2><hr>
<table class="table table-stripped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Date of Birth</th>
      <th>Mobile</th>
      <th>Address</th>
      <th>Gender</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let customer of customers">
      <td>{{ customer.firstName + " " + customer.lastName }}</td>
      <td>{{ customer.dateOfBirth }}</td>
      <td>{{ customer.mobile }}</td>
      <td>{{ customer.address1 + " " + customer.address2 }}</td>
      <td>{{ customer.gender }}</td>
    </tr>
  </tbody>
</table>
